.outside{
    border: dotted;
    border-color: blue;
    border-radius: 5%;
    padding: 10px;
}
.middle{
    border: dashed;
    border-color: red;
    border-radius: 5%;
    padding: 10px;
}
.inner{
    border: solid;
    border-color: green;
    border-radius: 5%;
    padding: 10px;
    text-align: center;
    font-size: 50px;
}